body {
    background: url('https://img1.looper.com/img/gallery/things-only-adults-notice-in-shrek/intro-1573597941.jpg')
    background-color: white;
    color:#DDA0DD;
    background: url('https://img1.looper.com/img/gallery/things-only-adults-notice-in-shrek/intro-1573597941.jpg')
}